# Core Torch Libraries
torch==2.10.0+cu130
torchvision==0.25.0+cu130
torchaudio==2.10.0+cu130

# Transformers and Tokenizers
transformers==4.51.0
tiktoken==0.6.0

# Acceleration
deepspeed>=0.18.0
accelerate

# UI and Utilities
pillow
gradio==4.44.0
numpydantic==1.6.8
